.btn-back-to-browsing {
    padding: 10px 20px;
    font-size: 28px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .btn-back-to-browsing, .btn-back-to-shop {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .btn-back-to-browsing, .btn-back-to-shop {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    .btn-back-to-browsing {
        font-size: 28px;
    }
}
