.btn-add-to-cart {
    width: 35%;
}

@media (max-width: 992px) {
    .btn-add-to-cart {
        width: 100%;
    }
    /*.product-container{*/
    /*    display: flex; flex-flow: column;*/
    /*}*/
    /*.product-image{*/
    /*    order:2;*/
    /*}*/
    /*.product-name{*/
    /*    order:1*/
    /*}*/
}