.btn-add-to-cart {
    width: 35%;
}



@media (max-width: 992px) {
    .btn-add-to-cart {
        width: 35%;
    }

    div .main-product-img {
        width: 65%;
    }
}

@media (max-width: 576px) {
    .btn-add-to-cart {
        width: 50%;
    }

    div .main-product-img {
        width: 80%;
    }
}
