/*https://stackoverflow.com/a/57218329/12348001*/
.mod-collapse .collapse:not(.show) {
    display: block;
}


/*na large urcite zobraz filtre, na mensie daj moznost s buttonom.*/
@media (max-width: 991px) {
    .mod-collapse .collapse:not(.show) {
        display: none;
    }

    .mod-collapse .darkRectangle:after {
        display: none;
    }

}


.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}


.pagination .page-link {
    border: none;
    color: black;
}

.pagination .page-item.active .page-link {
    background: none;
    color: black;
    text-decoration: underline;
}

select {
    text-align-last: center;
}